<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aitaskmanager.repository.customMapper.RefreshTokenMapper">
  <select id="selectByUserId" parameterType="java.lang.Integer" resultType="com.aitaskmanager.repository.model.RefreshTokens">
    id, user_id, token, expires_at, created_at
    from refresh_tokens
    where user_id = #{userId}
  </select>
  <insert id="insert" parameterType="com.aitaskmanager.repository.model.RefreshTokens">
    INSERT INTO refresh_tokens (user_id, token, expires_at)
    VALUES (#{userId}, #{token}, #{expiresAt})
  </insert>
  <delete id="deleteByUserId" parameterType="java.lang.Integer">
    DELETE FROM refresh_tokens WHERE user_id = #{userId}
  </delete>
</mapper>