<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aitaskmanager.repository.customMapper.UserMapper">
  <update id="updatePlanId">
    UPDATE users
    SET plan_id = #{planId}
    WHERE id = #{userId}
  </update>

  <select id="selectByUserName" parameterType="java.lang.String" resultType="com.aitaskmanager.repository.model.Users">
    select id, username, email, password, role, plan_id, is_active, created_at, updated_at
    from users
    where username = #{username}
  </select>

  <select id="selectByEmail" parameterType="java.lang.String" resultType="com.aitaskmanager.repository.model.Users">
    select id, username, email, password, role, plan_id, is_active, created_at, updated_at
    from users
    where lower(email) = lower(#{email})
  </select>

  <select id="selectIdByUsername" parameterType="java.lang.String" resultType="java.lang.Integer">
    select id
    from users
    where username = #{username}
  </select>

  <select id="selectIdByEmail" parameterType="java.lang.String" resultType="java.lang.Integer">
    select id
    from users
    where lower(email) = lower(#{email})
  </select>

  <insert id="insertUser" parameterType="com.aitaskmanager.repository.model.Users">
    INSERT INTO users (username, email, password, role, plan_id, is_active)
    VALUES (#{username}, #{email}, #{password}, #{role}, #{planId}, #{isActive})
  </insert>

  <select id="selectById" parameterType="java.lang.Integer" resultType="com.aitaskmanager.repository.model.Users">
    select id, username, email, password, role, plan_id, is_active, created_at, updated_at
    from users
    where id = #{id}
  </select>
</mapper>